@media (min-width: 771px) {
  .Posts {
    grid-column-gap: 3rem;
    grid-row-gap: 9rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 3rem 10rem;

    > *:nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
    }
    > *:nth-child(2) {
      grid-area: 2 / 1 / 4 / 2;
    }
    > *:nth-child(3) {
      grid-area: 2 / 2 / 3 / 3;
    }
    > *:nth-child(4) {
      grid-area: 3 / 2 / 5 / 3;
    }
    > *:nth-child(5) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > *:nth-child(6) {
      grid-area: 5 / 1 / 6 / 3;
    }
    > *:nth-child(7) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > *:nth-child(8) {
      grid-area: 6 / 2 / 7 / 3;
    }
    > *:nth-child(9) {
      grid-area: 7 / 1 / 8 / 3;
    }
    > *:nth-child(10) {
      grid-area: 8 / 1 / 10 / 2;
    }
    > *:nth-child(11) {
      grid-area: 8 / 2 / 9 / 3;
    }
    > *:nth-child(12) {
      grid-area: 9 / 2 / 11 / 3;
    }
    > *:nth-child(13) {
      grid-area: 10 / 1 / 11 / 2;
    }
    > *:nth-child(14) {
      grid-area: 11 / 1 / 12 / 3;
    }
    > *:nth-child(15) {
      grid-area: 12 / 1 / 13 / 2;
    }
    > *:nth-child(16) {
      grid-area: 12 / 2 / 13 / 3;
    }
    > *:nth-child(17) {
      grid-area: 13 / 1 / 14 / 3;
    }
    > *:nth-child(18) {
      grid-area: 14 / 1 / 16 / 2;
    }
    > *:nth-child(19) {
      grid-area: 14 / 2 / 15 / 3;
    }
    > *:nth-child(20) {
      grid-area: 15 / 2 / 17 / 3;
    }
    > *:nth-child(21) {
      grid-area: 16 / 1 / 17 / 2;
    }
    > *:nth-child(22) {
      grid-area: 17 / 1 / 18 / 3;
    }
    > *:nth-child(23) {
      grid-area: 18 / 1 / 19 / 2;
    }
    > *:nth-child(24) {
      grid-area: 18 / 2 / 19 / 3;
    }

    .Post {
      // margin: 1rem;
      background-color: #ffffff;
      // padding: 1rem;
      min-height: 630px;
      max-height: fit-content;

      hgroup {
        padding: 1rem;
        height: fit-content;
        h3 {
          font-size: 30px;
        }
        h4 {
          color: #c52525;
        }
      }
      .img_container {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 770px) {
  .Posts {
    display: block;
    .Post {
      hgroup {
        padding: 1rem;
        height: fit-content;
        h3 {
          font-size: 30px;
        }
        h4 {
          color: #c52525;
        }
      }
      .img_container {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
      }
    }
  }
}
.Link {
  color: black;
  text-decoration: none;
}
