.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 1rem hwb(0 0% 100% / 0.1);
  // height: 73px;
  background-color: #ffffff;
  padding: 1rem;
  .Navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .Header {
    .Navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5px;
    }
  }
}
